.sixthSection_parent_div {
  /* background-color: #eee; */
  /* background-color: rgb(235, 235, 235); */
  /* background-color: rgb(235, 235, 235); */

  /* background-color: #cecece; */
  background-color: white;
  padding: 10px;
}
.sixthSection_child-div {
  width: 75%;
  margin: auto;
  margin-top: 30px;
}
.sixthSection-p {
  font-size: 17px;
  margin-bottom: 10px;
}
.sixthSection_tiffany_p {
  font-size: 19px;
  margin-bottom: 10px;
}
.sixthSection_why_because {
  font-size: 19px;
  margin-bottom: 20px;
}
.here {
  color: blue;
}
@media screen and (max-width: 280px) {
  .sixthSection-p {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .sixthSection_tiffany_p {
    font-size: 17px;
    margin-bottom: 10px;
  }
  .sixthSection_why_because {
    font-size: 17px;
    margin-bottom: 20px;
  }
}
