.sectionFour_main_div {
  background-color: skyblue;
}
.four_section_parent_div {
  /* background-color: #f7f5f5; */
  /* background-color: rgb(235, 235, 235); */
  /* background-color: #ebebff; */
  padding: 70px 0px;
}
.why_i_do {
  margin-top: 0px;
  margin-bottom: -35px;
  font-size: 35px;
  font-weight: 500;
}
.sectionFour_tiffany_photo {
  max-width: 20%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: -20px;
  border: 3px solid black;
}
.four_section_grid_div {
  margin-top: 50px;
  background-color: rgb(190, 235, 253);
}
.four_section_cart_p_one {
  padding: 40px 100px;
  font-size: 17px;
  width: 85%;
  margin: auto;
}
.four_section_cart_p_two {
  padding: 40px 100px;
  font-size: 17px;
  width: 85%;
  margin: auto;
}
.four_section_cart_p_three {
  padding: 40px 100px;
  font-size: 17px;
  width: 85%;
  margin: auto;
}
.four_section_cart_p_four {
  padding: 40px 100px;
  font-size: 17px;
  width: 85%;
  margin: auto;
}
.tiffany_J_p {
  width: 90%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 30px;
  line-height: 30px;
  font-size: 17px;
  text-align: center;
  /* background-color: rgb(238, 237, 237); */

  padding: 25px 40px;
  border-radius: 10px;
}

.tiffany_bio_parent_div {
  /* background-color: #d9d9fc; */
  background-color: white;
}

.tiffany_bio_div {
  display: flex;
  max-width: 80%;
  margin: auto;
}
.tiffany_bio_photo {
  max-width: 450px;
  border: 3px solid navy;
  margin-top: 50px;
  margin-left: 50px;
}

.tiffany_logo_div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-top: 50px;
}

.logo_one {
  width: 7%;
  height: 7%;
  margin-bottom: 40px;
}
.logo_two {
  width: 20%;
  height: 100px;
  margin-bottom: 40px;
}
@media screen and (max-width: 1536px) {
  .four_section_grid_div {
  }
  .tiffany_J_p {
    width: 90%;
  }

  .tiffany_bio_parent_div {
    background-color: white;
  }

  .tiffany_bio_div {
    display: flex;
    max-width: 90%;
    margin: auto;
  }
  .tiffany_bio_photo {
    max-width: 450px;
    max-height: 450px;
  }

  .tiffany_logo_div {
    display: flex;
    margin-top: 50px;
  }

  /* .logo_one {
    width: 7%;
    height: 7%;
    margin-bottom: 40px;
  }
  .logo_two {
    width: 20%;
    height: 100px;
    margin-bottom: 40px;
  } */
}
@media screen and (max-width: 1350px) {
  .four_section_grid_div {
    grid-template-columns: repeat(3, 1fr);
  }
  .tiffany_bio_div {
    display: grid;
    grid-template-columns: 1fr;
  }
  .tiffany_bio_photo {
    margin: auto;
  }
}
@media screen and (max-width: 1350px) {
  .four_section_grid_div {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 800px) and (max-width: 1280px) {
  .sectionFour_tiffany_photo {
    max-width: 400px;
    max-height: 400px;
  }
  .tiffany_bio_photo {
    max-width: 400px;
    max-height: 400px;
    margin-top: 20px;
  }
}
@media screen and (max-width: 712px) and (max-width: 1138px) {
  .sectionFour_tiffany_photo {
    max-width: 350px;
    max-height: 350px;
  }
  .tiffany_bio_photo {
    max-width: 350px;
    max-height: 350px;
    margin-top: 20px;
  }
}
@media screen and (max-width: 700px) {
  .four_section_grid_div {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 600px) and (max-width: 1024px) {
  .sectionFour_tiffany_photo {
    max-width: 350px;
    max-height: 350px;
  }
  .tiffany_bio_photo {
    max-width: 350px;
    max-height: 350px;
    margin-top: 20px;
  }
}
@media screen and (max-width: 400px) and (max-height: 700px) {
  .sectionFour_tiffany_photo {
    max-width: 350px;
    max-height: 350px;
  }
  .tiffany_bio_photo {
    max-width: 350px;
    max-height: 350px;
    margin-top: 20px;
  }
}
@media screen and (max-width: 390px) {
  .logo_one {
    width: 70px;
    max-height: 62px;
  }
  .logo_two {
    max-width: 200px;
  }
}
@media screen and (max-width: 360px) and (max-width: 640px) {
  .sectionFour_tiffany_photo {
    max-width: 300px;
    max-height: 300px;
  }
  .tiffany_bio_photo {
    max-width: 300px;
    max-height: 300px;
  }
}
@media screen and (max-width: 270px) {
  .tiffany_logo_div {
    display: grid;
    grid-template-columns: 1fr;
  }
  .logo_one {
    margin: auto;
  }
  .logo_two {
    margin: auto;
  }
}
@media screen and (max-width: 320px) and (max-width: 658px) {
  .sectionFour_tiffany_photo {
    max-width: 250px;
    max-height: 250px;
  }
  .tiffany_bio_photo {
    max-width: 250px;
    max-height: 250px;
    margin-top: 20px;
  }
}
