.two_section_parent_div {
  background-color: white;
  padding: 10px;
  padding-bottom: 50px;
}
.two_section_grid_div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 50px;
  max-width: 85%;
  margin: auto;
  margin-top: 50px;
}
.two_section_child_div {
}
.two_section_child_div p {
  font-size: 19px;
  line-height: 35px;

  text-align: left;
  /* border: 2px solid #f3f2f2; */
}
