.home_parent_div {
  background-color: rgb(197, 237, 253);
}
.yourEmotionMatter_photo {
  max-width: 150px;
  margin-left: 10px;
}

.home_icon_grid_div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  max-width: 90%;
  margin: auto;
  margin-top: -60px;

  padding: 50px 0px;
}

.home_unleash_p {
  font-size: 44px;
  text-align: left;
}
.tiffany_photo {
  max-width: 70%;
  border: 5px solid black;
  margin: auto;
}

.icon_style {
  color: black;
  margin: 5px;
}

@media screen and (max-width: 1536px) {
  .home_icon_div {
    max-width: 100%;
  }
  .tiffany_photo {
    max-width: 75%;
  }
}

@media screen and (max-width: 1300px) {
  .home_icon_grid_div {
    grid-template-columns: 1fr;
  }

  .home_unleash_p {
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .tiffany_photo {
    max-width: 100%;
  }
}
@media screen and (max-width: 1280px) {
  .home_unleash_p {
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .tiffany_photo {
    max-width: 100%;
  }
}

@media screen and (max-width: 1100px) {
  .home_icon_div {
    max-width: 70%;
  }
}

@media screen and (max-width: 1024px) {
  .home_unleash_p {
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .tiffany_photo {
    max-width: 100%;
  }
}
@media screen and (max-width: 950px) {
  .home_icon_div {
    max-width: 80%;
  }
}

@media screen and (max-width: 850px) {
  .home_icon_div {
    max-width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .home_unleash_p {
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .tiffany_photo {
    max-width: 100%;
  }
}
@media screen and (max-width: 712px) {
  .home_unleash_p {
    font-size: 36px;
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .tiffany_photo {
    max-width: 100%;
  }
}
@media screen and (max-width: 680px) {
  .home_icon_div {
    max-width: 100%;
    font-size: 18px;
  }
  .media_link {
    margin-left: -120px;
  }
}

@media screen and (max-width: 650px) {
  .home_icon_div {
    max-width: 100%;
    font-size: 18px;
  }
  .media_link {
    margin-left: -90px;
  }
}
@media screen and (max-width: 600px) {
  .home_unleash_p {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .tiffany_photo {
    max-width: 100%;
  }
}
@media screen and (max-width: 580px) {
  .home_parent_div {
  }
}

@media screen and (max-width: 470px) {
  .home_icon_div {
    max-width: 100%;
    font-size: 16px;
  }
  .media_link {
    margin-left: -90px;
    gap: 10px;
  }
}

@media screen and (max-width: 470px) {
  .yourEmotionMatter_photo {
    width: 80px;
  }
  .home_icon_div {
    font-size: 14px;
    padding: 0;
  }
  .media_link {
    margin-left: 0px;
    gap: 8px;
  }
}
@media screen and (max-width: 384px) {
  .home_unleash_p {
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .tiffany_photo {
    max-width: 100%;
  }
}

@media screen and (max-width: 360px) {
  .yourEmotionMatter_photo {
    width: 70px;
  }
  .home_unleash_p {
    font-size: 26px;
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .tiffany_photo {
    max-width: 100%;
  }
}

@media screen and (max-width: 350px) {
  .yourEmotionMatter_photo {
    width: 60px;
  }
  .home_icon_div {
    font-size: 10px;
    padding: 0;
  }
  .media_link {
    margin-left: 0px;
    gap: 5px;
  }
}
@media screen and (max-width: 280px) {
  .home_unleash_p {
    font-size: 21px;
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .tiffany_photo {
    max-width: 100%;
  }
}
