.footer_icon__grid_div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 85%;
  gap: 20px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.footer_media_link {
  display: flex;
  align-items: center;
  gap: 5px;
  color: black;
  margin-top: 12px;
  font-size: 20px;
}
