.three_section_main_div {
  background-color: #eee;
}

.three_section_h4 {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 10px;
}
.three_section_p {
  font-size: 19px;
}

/* ---------- */
.three_section_parent_div {
  padding: 50px;
  width: 75%;
  margin: auto;
}
.three_section_child_div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  text-align: left;
  margin-top: 35px;
}
.your_support_div {
  text-align: left;
  margin-top: 35px;
}
.three_section_child_div p {
  line-height: 35px;
}

.three_section_last_p {
  font-size: 18px;
}
.tiffany_email {
  color: blue;
}
.tiffany_j {
  font-size: 19px;
  margin-top: 5px;
}
